.landing-page {
    align-items: flex-start;
    background-color: var(--basewhite);
    border: 1px none;
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  
  .landing-page .hero {
    align-items: center;
    background-color: var(--primary-900);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 1440px;
  }
  
  .landing-page .page-header-instance {
    align-self: stretch !important;
    background-color: unset !important;
    flex: 0 0 auto !important;
    width: 100% !important;
    z-index: 1 !important;
  }
  
  .landing-page .card {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 64px;
    padding: 48px 32px 80px;
    position: relative;
    width: 1280px;
    z-index: 0;
  }
  
  .landing-page .hero-base {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 64px;
    justify-content: center;
    position: relative;
  }
  
  .landing-page .horizontal-container-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 528px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }
  
  .landing-page .div-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .horizontal-container-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .text-wrapper-8 {
    align-self: stretch;
    color: var(--basewhite);
    font-family: "Inter-Bold", Helvetica;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -0.52px;
    line-height: 60px;
    margin-top: -1px;
    position: relative;
  }
  
  .landing-page .subtitle-icon-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .landing-page .subtitle-icon-2 {
    color: var(--primary-200) !important;
    font-family: "Inter-Regular", Helvetica !important;
    font-size: 18px !important;
    font-style: unset !important;
    font-weight: 400 !important;
    letter-spacing: -0.1px !important;
    line-height: 26px !important;
  }
  
  .landing-page .button-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    position: relative;
  }
  
  .landing-page .button-3 {
    font-family: "Inter-SemiBold", Helvetica !important;
    font-size: 15px !important;
    font-style: unset !important;
    font-weight: 600 !important;
    letter-spacing: 0 !important;
    line-height: 22px !important;
  }
  
  .landing-page .design-component-instance-node-4 {
    flex: 0 0 auto !important;
  }
  
  .landing-page .div-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .text-input-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
  }
  
  .landing-page .text-wrapper-9 {
    color: var(--basewhite);
    flex: 1;
    font-family: "Inter-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
  }
  
  .landing-page .text-input-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .company-logo-3 {
    height: 28px !important;
    left: unset !important;
    position: relative !important;
    top: unset !important;
    width: 112px !important;
  }
  
  .landing-page .hero-desktop {
    border-radius: 10px;
    height: 528px;
    position: relative;
    width: 528px;
  }
  
  .landing-page .overlap-group {
    height: 656px;
    left: 40px;
    position: relative;
    top: -48px;
    width: 600px;
  }
  
  .landing-page .background {
    background-color: var(--primary-700);
    height: 656px;
    left: 112px;
    position: absolute;
    top: 0;
    width: 488px;
  }
  
  .landing-page .graphic-elements {
    height: 560px;
    left: 0;
    position: absolute;
    top: 32px;
    width: 448px;
  }
  
  .landing-page .elem {
    height: 112px;
    left: 112px;
    position: absolute;
    top: 0;
    width: 224px;
  }
  
  .landing-page .img {
    height: 112px;
    left: 336px;
    position: absolute;
    top: 0;
    width: 112px;
  }
  
  .landing-page .elem-2 {
    height: 224px;
    left: 336px;
    position: absolute;
    top: 112px;
    width: 112px;
  }
  
  .landing-page .elem-3 {
    height: 224px;
    left: 336px;
    position: absolute;
    top: 336px;
    width: 112px;
  }
  
  .landing-page .elem-4 {
    height: 112px;
    left: 112px;
    position: absolute;
    top: 448px;
    width: 224px;
  }
  
  .landing-page .ellipse-wrapper {
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 56px;
    height: 112px;
    left: 0;
    position: absolute;
    top: 448px;
    width: 112px;
  }
  
  .landing-page .ellipse {
    background-color: var(--primary-200);
    border-radius: 28px;
    height: 56px;
    left: 26px;
    position: relative;
    top: 26px;
    width: 56px;
  }
  
  .landing-page .elem-5 {
    height: 224px;
    left: 0;
    position: absolute;
    top: 224px;
    width: 112px;
  }
  
  .landing-page .elem-6 {
    background-color: var(--basewhite);
    border-radius: 56px;
    height: 112px;
    left: 0;
    position: absolute;
    top: 112px;
    width: 112px;
  }
  
  .landing-page .elem-7 {
    height: 112px;
    left: 112px;
    position: absolute;
    top: 336px;
    width: 224px;
  }
  
  .landing-page .rectangle {
    height: 224px;
    left: 112px;
    object-fit: cover;
    position: absolute;
    top: 112px;
    width: 224px;
  }
  
  .landing-page .div-6 {
    align-items: center;
    background-color: var(--basewhite);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    padding: 64px 0px;
    position: relative;
    width: 1440px;
  }
  
  .landing-page .content-2 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 64px;
    padding: 0px 32px;
    position: relative;
    width: 1280px;
  }
  
  .landing-page .content-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 32px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .landing-page .features-base {
    align-items: flex-start;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    position: relative;
  }
  
  .landing-page .content-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .icon-3 {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
  }
  
  .landing-page .text-container-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .text-wrapper-10 {
    align-self: stretch;
    color: var(--gray-700);
    font-family: var(--headline-XS-desktop-semibold-font-family);
    font-size: var(--headline-XS-desktop-semibold-font-size);
    font-style: var(--headline-XS-desktop-semibold-font-style);
    font-weight: var(--headline-XS-desktop-semibold-font-weight);
    letter-spacing: var(--headline-XS-desktop-semibold-letter-spacing);
    line-height: var(--headline-XS-desktop-semibold-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .landing-page .div-7 {
    align-self: stretch;
    color: var(--gray-50);
    font-family: var(--text-l-regular-font-family);
    font-size: var(--text-l-regular-font-size);
    font-style: var(--text-l-regular-font-style);
    font-weight: var(--text-l-regular-font-weight);
    letter-spacing: var(--text-l-regular-letter-spacing);
    line-height: var(--text-l-regular-line-height);
    position: relative;
  }
  
  .landing-page .arrow-right-2 {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
  }
  
  .landing-page .content-wrapper {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 0px 32px;
    position: relative;
    width: 1280px;
  }
  
  .landing-page .content-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .horizontal-container-wrapper {
    align-items: flex-start;
    background-color: var(--neutral-100);
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px;
    position: relative;
  }
  
  .landing-page .horizontal-container-4 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    padding: 0px 154px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .company-logo-4 {
    left: unset !important;
    position: relative !important;
    top: unset !important;
  }
  
  .landing-page .thank-you-for-making {
    align-self: stretch;
    color: var(--gray-700);
    font-family: var(--headline-s-desktop-medium-font-family);
    font-size: var(--headline-s-desktop-medium-font-size);
    font-style: var(--headline-s-desktop-medium-font-style);
    font-weight: var(--headline-s-desktop-medium-font-weight);
    letter-spacing: var(--headline-s-desktop-medium-letter-spacing);
    line-height: var(--headline-s-desktop-medium-line-height);
    position: relative;
    text-align: center;
  }
  
  .landing-page .avatar-description-instance {
    background-image: url(./avatar.png) !important;
    position: relative !important;
  }
  
  .landing-page .content-6 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 32px;
    justify-content: center;
    padding: 0px 32px;
    position: relative;
    width: 1280px;
  }
  
  .landing-page .blog-base {
    align-items: flex-start;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    justify-content: center;
    position: relative;
  }
  
  .landing-page .rectangle-2 {
    align-self: stretch;
    height: 300px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .landing-page .container-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .span {
    color: #5f6d7e;
    font-family: var(--text-l-regular-font-family);
    font-size: var(--text-l-regular-font-size);
    font-style: var(--text-l-regular-font-style);
    font-weight: var(--text-l-regular-font-weight);
    letter-spacing: var(--text-l-regular-letter-spacing);
    line-height: var(--text-l-regular-line-height);
  }
  
  .landing-page .horizontal-container-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 25px;
    position: relative;
    width: 100%;
  }
  
  .landing-page .avatar-description-2 {
    background-image: url(./avatar-2.png) !important;
    position: relative !important;
  }
  
  .landing-page .text-wrapper-11 {
    color: var(--gray-50);
    flex: 1;
    font-family: var(--text-s-medium-font-family);
    font-size: var(--text-s-medium-font-size);
    font-style: var(--text-s-medium-font-style);
    font-weight: var(--text-s-medium-font-weight);
    letter-spacing: var(--text-s-medium-letter-spacing);
    line-height: var(--text-s-medium-line-height);
    position: relative;
    text-align: right;
  }
  
  .landing-page .avatar-description-3 {
    background-image: url(./avatar-3.png) !important;
    position: relative !important;
  }
  
  .landing-page .avatar-description-4 {
    background-image: url(./avatar-4.png) !important;
    position: relative !important;
  }
  
  .landing-page .call-to-action {
    align-items: center;
    background-color: var(--neutral-50);
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 64px 0px;
    position: relative;
    width: 1440px;
  }
  
  .landing-page .content-ccenter {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    padding: 0px 32px;
    position: relative;
    width: 1280px;
  }
  
  .landing-page .button-wrapper {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    position: relative;
    width: 752px;
  }
  
  .landing-page .button-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
  }
  
  .landing-page .text-wrapper-12 {
    color: var(--primary-600);
    font-family: var(--text-s-semibold-font-family);
    font-size: var(--text-s-semibold-font-size);
    font-style: var(--text-s-semibold-font-style);
    font-weight: var(--text-s-semibold-font-weight);
    letter-spacing: var(--text-s-semibold-letter-spacing);
    line-height: var(--text-s-semibold-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .landing-page .paragraph-container-2 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 752px;
  }
  
  .landing-page .headline-2 {
    align-self: stretch;
    color: var(--gray-700);
    font-family: var(--headline-m-desktop-semibold-font-family);
    font-size: var(--headline-m-desktop-semibold-font-size);
    font-style: var(--headline-m-desktop-semibold-font-style);
    font-weight: var(--headline-m-desktop-semibold-font-weight);
    letter-spacing: var(--headline-m-desktop-semibold-letter-spacing);
    line-height: var(--headline-m-desktop-semibold-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .landing-page .card-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }
  
  .landing-page .segmented-picker {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    padding: 0px 120px;
    position: relative;
    width: 752px;
  }
  
  .landing-page .input-field-3 {
    align-self: stretch !important;
    box-shadow: var(--shadow-XSM) !important;
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  
  .landing-page .horizontal-container-6 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
  }
  
  .landing-page .checkbox-instance {
    display: inline-flex !important;
    flex: 0 0 auto !important;
    width: unset !important;
  }
  
  .landing-page .checkbox-2 {
    display: inline-flex !important;
    flex: 0 0 auto !important;
    flex-grow: unset !important;
  }
  
  .landing-page .checkbox-3 {
    align-self: unset !important;
    white-space: nowrap !important;
    width: fit-content !important;
  }
  
  .landing-page .footer-instance {
    flex: 0 0 auto !important;
    mix-blend-mode: normal !important;
  }
  
  .landing-page .social-platforms-logo {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  